a, #nav-main ul.sf-menu ul li a:hover, .product_price ins .amount, .price ins .amount, .color_primary, .primary-color, #logo a.brand, #nav-main ul.sf-menu a:hover,
.woocommerce-message:before, .woocommerce-info:before, #nav-second ul.sf-menu a:hover, .footerclass a:hover,.footer_up_wrap.light #up_footerwrap.footerclass a:hover, .posttags a:hover, .subhead a:hover, .nav-trigger-case:hover .up-menu-icon,
.nav-trigger-case .up-menu-icon i:hover, .normal.white .shop_icon a:hover,.shop_icon a:hover, #wp-calendar a,.author_share a i:hover{color:#B89F5C;}
.product-category.grid_item a:hover h5, .woocommerce-message .button, .widget_layered_nav_filters ul li a, .widget_layered_nav ul li.chosen a, .wpcf7 input.wpcf7-submit,
.portfolionav a:hover, .home-iconmenu a:hover, #commentform .form-submit #submit,
.login .form-row .button, .up-button{background:#B89F5C}
.topclass{background:#000000}
.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt{background:#B89F5C;border-color:#B89F5C;color:#fff;}
.shipping-calculator-button{font-size:14px;text-transform:uppercase;background:#B89F5C;border-color:#B89F5C;color:#fff;padding:5px 10px 5px 10px;}
a:hover{color:#000;}
.input[type="submit"]:hover, .login .form-row .button:hover, .up-button:hover, .woocommerce-message .button:hover, #commentform .form-submit #submit:hover, .wpcf7 input.wpcf7-submit:hover, .widget_layered_nav_filters ul li a:hover, .widget_layered_nav ul li.chosen a:hover{background:#000;}
.up-mobile-nav .nav-inner li a:hover{color:#B89F5C}
.headerclass{background:#fff;}
.navclass{background:#fff;}
.sf-menu a{letter-spacing:normal;}
#nav-second ul.sf-menu a{letter-spacing:normal;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1em;height:1em;border:1px solid #B89F5C;cursor:pointer;background:#B89F5C;}
.wpb_categories_filter li.active {border-color:#B89F5C;}
a:hover{text-decoration:none;}
.hometitle{text-align:center;}
a.up-button.up_btn-t:hover{color:#fff !important;background:#B89F5C;border:1px solid;}
a.up-button.up_btn-d,.grid_port_paging a,a.up-button.port_but{color:#fff;background:#B89F5C;}
.head_title , .head_title h1{color:#B89F5C;text-transform:uppercase}
.sidebar a{color:#555;}
.portfolio h5.text-title{color:#B89F5C}
.ab-wrap,.wideab-wrap{background:#B89F5C;text-transform:uppercase;text-align:center;}
.wp-pagenavi .current{background:#B89F5C;color:#fff}
.circle-text{color:#B89F5C;border:1px solid #B89F5C;}
.up_bar_v{background-color:#B89F5C;}
#up_breadcrumbs li a:hover {
    color: #B89F5C;
}
.uphs-hotspot-wrapper .HotspotPlugin_Hotspot:not(.uphsHotspotImageMarker):before {background: #B89F5C ;}
.wpb-js-composer .vc_tta-color-black.vc_tta-style-flat .vc_tta-tab>a:hover {
    background-color: #B89F5C !important;
}

@media (min-width: 1025px){
.ih-item.square.effect7 .info h3 {background:#B89F5C }
 .ih-item.square.effect7 .info{ background: rgba(75, 81, 86, 0.9);}
 .wpb-js-composer .vc_tta-color-black.vc_tta-style-flat .vc_tta-tab.vc_active>a {background-color: #B89F5C !important;}
}
.our-team:hover:before,section.team .teamlink:hover{background:rgba(75, 81, 86, 0.9);text-decoration:none;}
.our-team .read {border-color: transparent #B89F5C #B89F5C transparent;}
.our-team .post {color: #B89F5C;}
.footer_up_wrap .menu_top_footer ul li a:hover {
    color: #B89F5C;
}
body.button_b .our-team .read {border-color: #B89F5C;}
#commentform input, .form-search .search-icon:hover{background:#B89F5C;}
.wrap.maincontent.dark_version .widget-inner li a:hover, .widget-inner li a:hover{color:#B89F5C}
.datahead a:hover, .post_share i:hover{color:#B89F5C}
.team-box .team-inner h5, header #logo a.brand, .logofont, #commentform label span{color:#B89F5C;}
.hover.main.vc_column_container .vc_column-inner:hover, .widget .tagcloud a{background-color:#B89F5C !important;}
.wp-pagenavi a:hover{background:#B89F5C;color:#fff;}
h4.wpb_toggle, .blogmasonry a h5:hover{color:#B89F5C}
blockquote{border-left:4px solid #B89F5C;}
#up_filters li span.active , a.linkedib i:hover, .dropcap{color:#B89F5C}
.highlight{background-color:#B89F5C;}
div.wpcf7-validation-errors{border:1px solid #B89F5C;}
.wpb_tabs .wpb_tabs_nav li{margin:0 -1px 0 0 !important;}
.wpb_categories_filter li.active , .wpb_content_element .wpb_tabs_nav li.ui-tabs-active a {background:#B89F5C;}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a ,.portfolionav a:hover{border-color:#B89F5C}
.wpb_teaser_grid .categories_filter li.active a, .up_counter_iner{color:#B89F5C}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active{border:1px solid #B89F5C;}
.up_pricing_inner{background:#B89F5C}
.wrap.maincontent.dark_version .blogmasonry .post_share i:hover, .wrap.maincontent.dark_version .nav-previous a:hover,.wrap.maincontent.dark_version .nav-next a:hover, h1.entry-title a:hover{color:#B89F5C;}
.up-mobile-nav .nav-inner li.current-menu-item>a, span.shortcode_icon a i:hover{color:#B89F5C !important}
.woocommerce-page .wrap.maincontent.dark_version .single_add_to_cart_button.button.alt{border-color:#B89F5C !important}
.woocommerce-page .wrap.maincontent.dark_version .single_add_to_cart_button.button.alt:hover{border-color:#868686 !important}
 a.up-button:hover{color:#fff;background:#B89F5C;}
 a.up-button.up_btn-d:hover{color:#000;background:#fff;}
a.slider-button.white:hover{color:#fff!important;background:#B89F5C !important;}
a.slider-button{color:#fff!important;background:#B89F5C !important;}
::selection{background:#B89F5C;color:#fff;}
.mc4wp-form input[type="submit"], .mc4wp-form button, .mc4wp-form input[type="button"]{background:#B89F5C;color:#fff;border:0;}.mc4wp-form input[type="submit"]:hover, .mc4wp-form button:hover, .mc4wp-form input[type="button"]:hover{background:#000;color:#fff;border:0;}
#nav-main ul.sf-menu li.current_page_item>a, a.rsswidget{color:#B89F5C !important;text-transform:uppercase;}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active a{background:#B89F5C;color:#fff !important}
.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button{background:#4A4A4A}
.tribe-events-list-widget .tribe-events-widget-link a:hover, a.post_more:hover{color:#fff; border-color:#B89F5C; background:#B89F5C}
.normal.white #up_topbar #nav-main ul > li.up-megamenu > ul ul li a:hover{color:#B89F5C!important;}
.normal.dark #up_topbar #nav-main ul > li.up-megamenu > ul ul li a:hover{color:#B89F5C!important;}
.normal.white #nav-main ul.sf-menu ul li a:hover{color:#B89F5C}
.wp-travel-notice-success {background: #B89F5C;}
.checkout-page-wrap input[type=submit], button[type=submit]{background:#B89F5C; border:0;color:#fff;padding: 9px 25px;}
.wp-travel-message::before {color: #B89F5C;}
.wp-travel-message {border-top-color: #B89F5C;}
.ws-theme-cart-page .update-cart {padding: 8px 29px;border: 1px solid #dccfae;color: #000;}
.ws-theme-cart-page .update-cart:hover {background: #B89F5C;}
.ws-theme-cart-page .actions .book-now-btn{background: #B89F5C;color: #fff;border: 0;}
.wp-travel-toolbar .wp-travel-filter-button .btn-wp-travel-filter {padding: 3px 15px;background: #B89F5C;border: 0;color: #fff;}
.widget_wp_travel_filter_search_widget input[type="submit"],p.wp-travel-search input[type=submit]{background: #B89F5C;color: #fff;border: 0;padding: 6px 25px;}
#wp-travel-enquiry-submit {background: #B89F5C;color: #fff;}
.wp-travel-tab-wrapper .wp-travel-booking-form-wrapper form .wp-travel-form-field.button-field input#wp-travel-book-now{background:#B89F5C; border-radius:0px}
#wp-travel_rate a,.wp-travel-average-review span {color: #b89f5c;}
.wp-travel-tab-wrapper .tab-list.resp-tabs-list li.resp-tab-active {background: #b89f5c;color: #fff;}
.wp-travel.trip-headline-wrapper .wp-travel-booknow-btn {background: #B89F5C;}
.wp-travel-offer span {background: #B89F5C;letter-spacing: 1px;}
.wp-travel-offer span:before {border-right: 3px solid #B89F5C;border-top: 3px solid #B89F5C;}
.wp-travel-itinerary-items .wp-travel-post-item-wrapper .post-title a:hover {color: #B89F5C;}
.wp-travel-average-review:before {color: #B89F5C;}
.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn{background-color:#B89F5C!important}

